
.ContainerBox {
  max-width: 40rem;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding:0;
}

.weatherInfo {
  align-content: center;
  text-align: center;
  /* border: 1px dotted gray; */
  width: 150px;
  padding-left: auto;
  padding-right: auto;
}

.zoneForecast {
  background-color: var(--dark-900);
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.activeWeather {
  color: greenyellow;
}

.timeCard {
  width: 11rem;
  padding: 0.5rem; 
  font-family: inherit;
  text-align: center;
  margin: 0;
}

.weatherRow {
  padding: 0 1rem 1rem 0;
}

.list {
  /* sx={{ width: "100%", color: "inherit" }} */
  width: 100%;
  color:inherit;
}

.container {
  /* sx={{ height: "100vh", padding: 0, pt: 8 }} */
  margin-top: 5rem;
  height: 100vh;
  padding: 0;
  padding-top: 8;
}