.standardSearch {
  color: red !important;
}

.details {
  background-color: transparent;
}

.spawned {
  color: greenyellow;
}

.time {
  background-color: transparent;
  font-family: 'Inter' !important;
  font-size: smaller;
}

[data-theme='dark'] .input {
  color: #d0d5dd;
}
