.standardSearch {
  color: red !important;
}

.details {
  background-color: transparent;
}

.spawned {
  color: greenyellow;
  animation: animate__rubberBand;
  animation-duration: 1s;
}

.time {
  background-color: transparent;
  font-family: 'Inter' !important;
  font-size: smaller;
}

.itemNameArea {
  font-family: 'Inter' !important;
  display : inline-flex;
  width: 12rem;
}

.itemName {
  margin-top: 0.35rem;
}

.location {
  font-family: 'Inter' !important;
  font-size: smaller;
}

.timer {
  display:inline-block;
  width: 5.1rem;
  text-align: center;
  font-size:medium;
}

[data-theme='dark'] .input {
  color: #d0d5dd;
}

.spawned {
  background-color: rgba(18, 135, 0, 0.47);
}

.avatar{
  margin-top: 0.3rem;
}

.row {
  animation: animate__rubberBand;
  animation-duration: 1s;
}