.standardSearch {
  color: red !important;
}

.details {
  background-color: transparent;
}

.notSpawned {
  color: var(--dark-color);
  animation: slideIn;
  animation-duration: 500ms;
}
.despawn {
  color: greenyellow;
  animation: slideOut 500ms ease-out 1000ms 1;
}
.spawned {
  background-color: green;
  /* transform: translateX(0px); */
  /* animation: slideIn 500ms ease-in 1; */
}

@keyframes slideIn {
  from{
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}


@keyframes slideOut {
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.time {
  background-color: transparent;
  font-family: 'Inter' !important;
  font-size: smaller;
}

.itemNameArea {
  font-family: 'Inter' !important;
  display : inline-flex;
  width: 12rem;
}

.itemName {
  font-family: 'Inter' !important;
  margin-top: 0.35rem;
}

.location {
  font-family: 'Inter' !important;
  font-size: smaller;
}

.timer {
  display:inline-block;
  width: 5.1rem;
  text-align: center;
  font-size:medium;
}

[data-theme='dark'] .input {
  color: #d0d5dd;
}

.avatar{
  margin-top: 0.3rem;
}

.row {
  animation: animate__rubberBand;
  animation-duration: 1s;
}

