.remainingTime {
  font-family: 'AzeretMono' !important;
  font-size: 0.85rem;
}

.hasSpawned {
  font-family: 'AzeretMono' !important;
  font-size: 0.75rem;
  color: greenyellow;
}

[data-theme='light'] .hasSpawned {
  font-family: 'AzeretMono' !important;
  color: green;
}

.isAlmostOver {
  font-family: 'AzeretMono' !important;
  color: red;
}

.isAlmostReady {
  font-family: 'AzeretMono' !important;
  font-size: 0.85rem;
  color: orange;
}