
* {
  font-display: swap;
  font-family: 'Inter' !important;
}

span.MuiTypography-body1 {
  font-size: 0.9rem;
}

p.MuiTypography-body2 {
  font-size: 0.8rem;
}

h6.MuiTypography-subtitle1  {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
