body {
  background-image: url("../public/bg/bg.png");
  background-attachment: fixed;
  font-family: 'Inter';
}


h2 {
  font-size: 1rem;
}

/* Global Overrides */
.MuiTypography-root {
  font-family: 'Inter';
}