.row {
  margin-bottom: 0.5em;
}
.itemTitle {
  font-size: 13px;
}
.itemInfoRow {
  display: flex;
}

.itemDetailsLocation {
  font-size: 11px;
  width: 70%;
}

.itemDetailsLocation::before {
  content: '';
}

.itemDetailsTime {
  padding-left: 0em;
  font-size: 12px;
  width: 30%;
  text-align: right;
}


.midCraftContainer {
  display: flex;
  justify-content: space-between;
}
.midCraft {
  padding-left: 0px;
}

.midCraft::before {
  content: '▪ ';
}

.rawMaterial {
  padding-left: 55px;

}

.list {
  padding: 0;
}
