.eventRow {
  /* padding: 0.5rem; */
  padding: 0;
  height: 100%;
  padding: 0.5rem 0rem;
}

.eventRowUpcoming {
  padding: 0;
  height: 100%;
  background-color: #a1a1a1;
}

.eventName {
  /* font-weight: bold; */
  color: #6b993d;
}

.eventRow > img {
  height: 1.1rem;
  float: left;
  margin-top: 0.1rem;
  margin-right: 0.1rem;
}