.fauxGridCell {
  width: 0.85rem;
  height: 0.85rem;
  border: 0.5px solid rgb(75, 75, 75);
  background-color: #bc9e7b;
  float: left;
}

.fauxGridDisabledCell {
  width: 0.85rem;
  height: 0.85rem;
  border: 1px solid rgb(75, 75, 75);
  background-color: #5a4c3a;
  float: left;
}

.fauxGridTreasureBox {
  width: 0.85rem;
  height: 0.85rem;
  border: 1px solid rgb(75, 75, 75);
  float: left;
  background-color: #cf9093;
}

.fauxGridFox {
  width: 0.85rem;
  height: 0.85rem;
  border: 1px solid rgb(75, 75, 75);
  float: left;
  background-color: #c8c07a;
}

.fauxGridSword {
  width: 0.85rem;
  height: 0.85rem;
  border: 1px solid rgb(75, 75, 75);
  float: left;
  background-color: #8fa7bb;
}

.fauxGridRecommended {
  width: 0.85rem;
  height: 0.85rem;
  border: 1px solid rgb(75, 75, 75);
  float: left;
  background-color: greenyellow;
}