/* Common Style for All Cells */
.fauxGridCell {
  width: calc(100% / 6);
  height: calc(100% / 6);
  border: 0.5px solid lightgray;  
}

.fauxGridEmpty {
  background-color: transparent;
  border: 0; 
}

/* Regular Cell */
.fauxGridCellRegular {
  background-color: #c7aa8c;
}

/* Disabled Cell */
.fauxGridDisabledCell {
  background-color: #5a4c3a;
}

/* Treasure Box Cell */
.fauxGridTreasureBox {
  background-color: #cf9093;
}

/* Fox Cell */
.fauxGridFox {
  background-color: #af4646;
}

/* Sword Cell */
.fauxGridSword {
  background-color: #8fa7bb;
}

/* Recommended Cell */
.fauxGridRecommended {
  background-color: greenyellow;
}

/* Box that holds 1 6x6 square */
.fauxGridContainer {
  display: flex;
  flex-direction: row;
  width: calc( ( 100% - 15px ) );
  height: inherit;
  /* border: 2px solid white; */
}

.fauxGridCellEmpty {
  display: flex;
  flex-direction: row;
  width: calc( ( 100% - 15px ) );
  height: inherit;
  border: 0;
}