.fauxGridCell {
  width: 0.85rem;
  height: 0.85rem;
  border: 0.1rem solid #a1a1a1;
  float: left;
}

.fauxGridDisabledCell {
  width: 0.85rem;
  height: 0.85rem;
  border: 0.1rem solid #a1a1a1;
  background-color: grey;
  float: left;
}
