.cell{
  margin: -0.4rem;
}

.printedContainer {
  width: 252px;
  align-items: center;
  margin: 0;
  margin: 0 auto;
}

.fauxGridContainer {
  width: 5.7rem;
  height: 5.7rem;
  margin-right: 0.1rem;
  margin-bottom: 0.3rem;
  float: left;
}

.fauxGridContainerRow {
  clear: both;
  background-color: red;
  width: 100%;
}